<h1>Recipes Index Page</h1>
<ul>
<% @recipes.each do |recip| %>
    <li><%= link_to recip.name, recipe_path(recip) %></li>
<% end %> 
</ul>

<%= form_with(url: "/ingredients", method: "get") do %>
    <%= label_tag(:ingredients, "Search for:") %>
    <%= text_field_tag(:ingredients) %>
    <%= submit_tag("Search")%>
  <% end %>

<%= link_to "Create a recipe", new_recipe_path %>

